
body{
    font-family: 'Roboto', sans-serif;
    background-image: url("../public/doodad\ \(3\).png");
}
.register{
    background: #CE6161;
    color: #fff;
    padding: 3em;
    height: 200px;
    width: 80%;
    border: 2px solid #BE5151;
    border-radius: 10px;
}

.container{
    display: flex;
   padding: 12em 0;
   justify-content: center;
}

.description{
    display:inline-block;
    width: 50%;
}
.formClass{
    width: 50%;
    text-align: center;
    float: right;
}